body {
  overflow-x: hidden;
}

nav{
  justify-content: space-between;
  width: 80%;
  margin:0 auto;
  padding-top: 30px;
  height: 10vh;
  .logo{

  }
  .headElements{
    display: flex;
    flex-flow:row;

    .hEl{
      padding: 10px;
      font-weight: 300;
      a{
        text-decoration: none;
        color: black;
      }
    }

    .header-service{
      position: relative;

    }

    .header-service::after{
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      right:0;
      content:"";
      width: 1px;
      height: 50%;
      background-color: lightgrey;
    }
    .header-boutique{

    }
  }
}

.homepage {

  .first-screen {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    .desc {
      opacity: 0;
      width: 25%;
      transform: translateX(10vw);
      z-index: 10;

      .fp-headline{
        font-size : 50px;
        font-weight: 400;
      }
      .fp-headline+.fp-headline{
        font-weight: 300;
      }
      .fp-body{
        font-weight: 300;
        font-size : 20px;
        line-height: 1.3;
      }

      .fp-discover{
        font-size : 20px;
        position: relative;

        span{
          display: inline-block;
        }
      }
      .fp-discover-after{
        position: absolute;
        height: 1px;
        width: 100%;
        top:50%;
        transform: translateY(-50%);
        left:110%;
        background-color: black;
        transform-origin: right;
      }
    }

    .logo {
      width: 70%;
      height: 75%;
      background-image: url("../images/homepage.jpg");
      background-size: cover;
      filter: drop-shadow(0px 3px 10px rgba(0,0,0,0.2));
    }
  }

  .main-services{
    margin-top: 10vh;
    width: 100%;
    margin-bottom: 20vh;

    .head-wrapper{
      width: 70%;
      margin: 0 auto;
      margin-bottom: 10vh;
      text-align: center;

      .headline{
        position: relative;
        font-size:40px;
        font-weight: 400;
      }

      .Shead::after{
        position: absolute;
        content:"";
        height: 1px;
        width: 105%;
        top:120%;
        transform: translateX(-50%);
        left:50%;
        background-color: black;
      }
    }
    .services-container{
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-flow:row wrap;
      justify-content: space-around;
      align-items: center;

      .service-item{
        width: 300px;
        height: 80vh;
        margin-bottom: 7vh;

        .headline{
          text-transform: uppercase;
          font-size: 25px;
          font-weight: 400;
          padding: 10px;
        }

        .desc{
          padding: 10px;
          font-size: 18px;
          line-height: 1.5;
          font-weight: 300;
          margin-bottom: 15px;
        }

        .photo{
          overflow: hidden;
          height: 75%;
          width: 100%;
          border-radius: 25px;

          img{
            width: 150%;
          }
        }
      }

      .face{
        transform: translateY(15vh)
      }

      .polish{
        transform: translateY(7vh)
      }
    }
  }

  .shop {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-flow: column; // change on mobile
    align-items: center;

    .shop-headline {
      position: relative;
      margin-bottom: 30px;
    }

    .shop-headline::after {
      position: absolute;
      top: 150%;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      width: 120%;
      height: 2px;
      background-color: grey;
    }

    .shop-photos {
      width: 80%;
      display: flex;
      flex-flow: row wrap; // change on mobile
      padding: 20px;
      justify-content: space-between;
      align-items: center;

      .shop-items {
        width: 20vw; // change on mobile
        height: 600px; // change for items
        margin: 10px;
        background: grey;
        overflow: hidden;

        img{
          height: 100%;
        }
      }
    }
  }
}

@media (max-width:600px) {
  nav{
    width: 90%;

    .logo{
      margin: 0;
    }

    .headElements{
      font-size: 80%;
    }
  }
  .homepage{
    .first-screen{
      margin-top: 5vh;
      flex-flow: column;
      justify-content: flex-start;
      .desc{
        display: flex;
        flex-flow: column nowrap;
        margin-top:5vh;
        transform:none !important;
        order:2;
        width: 80%;
        .fp-headline{
          font-size: 30px;
        }
        .fp-body{
          font-size:17px;
          line-height: 1.3;
        }
        .fp-discover{
          font-size:16px;
          margin-top:3vh;
          background-color: #fa9d9d;
          padding: 22px 20px;
          border-radius: 13px;
          width: 80%;
          align-self: center;
          text-transform: uppercase;
          text-align: center;
          a{
            color:white !important;
            font-weight: 300;
          }
        }
        .fp-discover-after{
          width: 0;
        }
      }
      .logo{
        width: 100%;
        height:35vh;
        background-position-x:center;
      }
    }
    .main-services{
      .head-wrapper{
        text-align: center;
        margin-bottom: 5vh;
      }
    }
    .shop {
      .shop-photos {
        flex-flow: column;

        .shop-items {
          width: 80%;
          height: 450px;
          margin-bottom: 3vh;
        }
      }
  }

  }
  .face, .polish{
    transform: translateY(0) !important;
  }

  .service-item{
    width: 280px !important;
  }

  .Shead{
    font-size:25px !important;
  }
}

@media (min-width:601px) and (max-width:1200px) {
  .homepage{
    .first-screen{
      justify-content: flex-end;
      position: relative;
      .desc{
        position: absolute;
        width: 50%;
        left: 0;
      }
    }
    .shop {
      .shop-photos {

        .shop-items {
          height: 400px;
        }
      }
    }
  }
  .face, .polish{
    transform: translateY(0) !important;
  }
}
