@font-face {
  font-family: nexaLight;
  src: url("../fonts/nexaLight.otf"); }
@font-face {
  font-family: nexaRegular;
  src: url("../fonts/nexaRegular.otf"); }
@font-face {
  font-family: nexaBold;
  src: url("../fonts/nexaBold.otf"); }
* {
  font-family: 'Work Sans';
  box-sizing: border-box; }

.link-no-deco {
  text-decoration: none;
  color: #262626; }

.btn-light {
  display: block;
  color: #262626;
  background-color: #ffffff;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center; }

@media (min-width: 300px) {
  header {
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
    background: #ffffff; }
    header h2 {
      font-size: 1em;
      text-align: center; }
      header h2 a {
        text-decoration: none;
        color: #262626; }

  nav {
    padding: 0 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    nav h1 {
      text-transform: uppercase;
      border: solid 1px #262626;
      border-radius: 15px;
      padding: 5px 20px;
      margin-bottom: 10px; }
    nav ul {
      overflow: hidden;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 0px;
      transition: all 0.3s linear; }
      nav ul li {
        padding: 10px 0; }
    nav ul.dropdown_active {
      height: 450px;
      transition: all 0.3s linear; }

  #services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #services-container .service {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      height: 575px;
      border-radius: 15px;
      overflow: hidden;
      filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.4));
      background-color: #f4f4f4; }
      #services-container .service .service-wrapper {
        height: 40%;
        width: 110%;
        overflow: hidden;
        border-radius: 10px; }
        #services-container .service .service-wrapper img {
          width: 100%; }
      #services-container .service figcaption {
        background-color: inherit;
        margin-top: -5%;
        height: 65%;
        border-radius: 20px;
        padding: 20px;
        width: 100%;
        overflow: hidden; }
        #services-container .service figcaption .fig-text {
          height: 50%;
          width: 90%;
          margin: 0 auto; }
          #services-container .service figcaption .fig-text h2 {
            font-size: 20px; }
          #services-container .service figcaption .fig-text p {
            font-size: 13px; }
        #services-container .service figcaption .service-infos {
          margin: 0 auto;
          width: 60%;
          height: 20%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center; }
          #services-container .service figcaption .service-infos .duration {
            height: 60%;
            display: flex;
            flex-flow: column;
            justify-content: space-around; }
            #services-container .service figcaption .service-infos .duration .head {
              font-weight: bolder;
              font-size: 20px; }
          #services-container .service figcaption .service-infos .line {
            height: 80%;
            width: 1px;
            background-color: lightgrey; }
          #services-container .service figcaption .service-infos .price {
            height: 60%;
            display: flex;
            flex-flow: column;
            justify-content: space-around; }
            #services-container .service figcaption .service-infos .price .head {
              font-weight: bolder;
              font-size: 20px; }
        #services-container .service figcaption .reserver {
          height: 30%;
          display: flex;
          justify-content: center;
          align-items: center; }
          #services-container .service figcaption .reserver .btn-light {
            text-transform: uppercase;
            color: white;
            width: 40%;
            margin: 0 auto;
            border-radius: 10px;
            background-color: #e667a6; }

  footer {
    margin-top: 5vh;
    padding: 0 20px;
    background-color: #f4f4f4; }
    footer .about {
      display: flex;
      flex-flow: column; } }
@media (min-width: 1200px) {
  nav h1 {
    display: none; }
  nav ul {
    height: 100%;
    flex-direction: row; }
  nav li {
    padding: 0 15px !important; }

  footer .about {
    flex-flow: row;
    justify-content: space-around; } }

/*# sourceMappingURL=main.css.map */
