@font-face {
  font-family: nexaLight;
  src: url("../fonts/nexaLight.otf");
}
@font-face {
  font-family: nexaRegular;
  src: url("../fonts/nexaRegular.otf");
}
@font-face {
  font-family: nexaBold;
  src: url("../fonts/nexaBold.otf");
}
* {
  font-family: 'Work Sans';
}

$color-pink: #ffc0cb;
$color-background: #ffffff;
$color-text: #262626;
$color-service:#ffc0cb;
$color-btn:#ffc0cb;
$color-btn-light:#ffffff;
$color-footer-grey:#f4f4f4;

$border-radius:15px;
.link-no-deco{
  text-decoration: none;
  color:$color-text;
}
.btn-light{
  display: block;
  color:$color-text;
  background-color:$color-btn-light;
  border-radius: $border-radius;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
}


// Mobile stylesheet
@media (min-width: 300px) {
  header{
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.20);
    padding:10px 0px;
    background: $color-background;
    h2{
      font-size: 1em;
      text-align: center;
      a{
        text-decoration: none;
        color:$color-text;
      }
    }
  } // Header
  nav{
    padding:0 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      text-transform: uppercase;
      border: solid 1px $color-text;
      border-radius: $border-radius;
      padding: 5px 20px;
      margin-bottom: 10px
    }
    ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      li{
        padding: 10px 0;
      }
    }
  } // Nav
  #services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .service{
      background-color:$color-service;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items:center;
      width: 350px;
      padding:10px;
      border-radius: $border-radius;
      figcaption{
        padding: 10px;
        width: 300px;
        h2{
          padding:15px 0;
        }
        .service-infos{
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          margin-top: 25px;
        }
      }
    }
  }
  footer{
    width:100%;
    height:20vh;
    background-color:$color-footer-grey;
    .about{
      display: flex;
      flex-flow:row nowrap;
      justify-content: space-around;
    }
  }
}
