body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','Arial',sans-serif;
  font-size: 14px;
  color: black; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: nexaLight;
  src: url("../fonts/nexaLight.otf"); }
@font-face {
  font-family: nexaRegular;
  src: url("../fonts/nexaRegular.otf"); }
@font-face {
  font-family: nexaBold;
  src: url("../fonts/nexaBold.otf"); }
@media (max-width: 2000px) {
  body {
    overflow: hidden;
    width: 100%; }

  * {
    font-family: nexaBold; }

  .sandwich-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: white;
    display: none;
    opacity: 0; }

  .header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161); }
    .header .menu {
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
      height: 46px;
      width: 46px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center; }
      .header .menu #hamburger-1.is-active .lineHam:nth-child(2) {
        opacity: 0; }
      .header .menu #hamburger-1.is-active .lineHam:nth-child(1) {
        transform: translateY(7px) rotate(45deg); }
      .header .menu #hamburger-1.is-active .lineHam:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg); }
      .header .menu .hamburger {
        z-index: 16; }
        .header .menu .hamburger .lineHam {
          width: 25px;
          height: 2px;
          background-color: black;
          display: block;
          margin: 5px auto;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
    .header .headline {
      text-align: center; }
      .header .headline p {
        margin: 0;
        padding: 0; }

  .services {
    height: 11vh;
    width: 100%;
    color: black;
    display: flex;
    align-items: center; }
    .services span {
      font-size: 30px;
      margin-left: 4vw; }

  .main {
    display: flex;
    flex-flow: column nowrap; }
    .main .slider {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; }
      .main .slider .servicesNames {
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        padding: 5px; }
        .main .slider .servicesNames li {
          padding: 5px; }
      .main .slider .slider-wrapper {
        height: 41vh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        position: relative; }
        .main .slider .slider-wrapper .arrow-wrapper {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100vw;
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .main .slider .slider-wrapper .arrow-wrapper div {
            border-radius: 50%;
            width: 60px;
            height: 100%;
            background-color: grey;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 300%; }
          .main .slider .slider-wrapper .arrow-wrapper .left {
            margin-left: 20px; }
          .main .slider .slider-wrapper .arrow-wrapper .right {
            margin-right: 20px; }
        .main .slider .slider-wrapper .slider-container {
          height: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center; }
          .main .slider .slider-wrapper .slider-container .slider-item {
            height: 95%;
            width: 30vh;
            margin: 10px;
            background-color: lightgrey;
            border-radius: 10px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-around;
            flex: none; }
            .main .slider .slider-wrapper .slider-container .slider-item .img-container {
              margin-top: 10px;
              height: 40%;
              width: 87%;
              background-color: lightblue;
              border-radius: 10px; }
            .main .slider .slider-wrapper .slider-container .slider-item .text-container {
              width: 80%;
              height: 40%;
              color: white;
              display: flex;
              flex-flow: column nowrap;
              justify-content: space-around; }
              .main .slider .slider-wrapper .slider-container .slider-item .text-container .headline {
                margin: 0;
                font-size: 200%; }
    .main .desc {
      margin-top: 2vh;
      width: 100%;
      padding: 5px 20px;
      height: 30vh; }
      .main .desc .head {
        font-size: 23px;
        margin-bottom: 0; }
      .main .desc .body {
        font-size: 17px;
        font-family: nexaRegular; }
      .main .desc .AboutButton {
        width: 140px;
        height: 60px;
        margin: 0 auto;
        background-color: pink;
        padding: 20px;
        color: white;
        border-radius: 30px;
        text-align: center; }

  .playerFooter {
    width: 85%;
    height: 15vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto; }
    .playerFooter .player {
      border-radius: 50%;
      height: 64px;
      width: 64px;
      background-color: black;
      background-image: url("../images/sound.svg");
      background-repeat: no-repeat;
      background-position: center; }
    .playerFooter .graph {
      width: 160px;
      height: 60px;
      background-image: url("../images/graph.svg"); }
    .playerFooter .time {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around; }
      .playerFooter .time .playerLine {
        font-family: nexaRegular;
        width: 45px;
        height: 1px;
        background-color: black;
        margin: 3px 0; } }

/*# sourceMappingURL=main.css.map */
