* {
  font-family: 'Work Sans';
  box-sizing: border-box;
}

$color-pink: #ffc0cb;
$color-header:#413936;
$color-background: #ffffff;
$color-text: #262626;
$color-service:#f4f4f4;
$color-btn:#ffc0cb;
$color-btn-light:#ffffff;
$color-footer:#E6DEDB;
$color-btn-pink:#e667a6;

$border-radius:15px;

.link-no-deco{
  text-decoration: none;
  color:$color-text;
}
.btn-light{
  display: block;
  color:$color-text;
  background-color:$color-btn-light;
  border-radius: $border-radius;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
}


// Mobile stylesheet
@media (min-width: 300px) {
  header{
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.20);
    padding:20px 0px;
    background: $color-header;
    h2{
      font-size: 1em;
      text-align: center;
      a{
        text-decoration: none;
        font-weight: 100;
        color:white !important;
      }
    }
  } // Header
  nav{
    margin : 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      text-transform: uppercase;
      border: solid 1px $color-text;
      border-radius: $border-radius;
      font-weight: 200;
      padding: 5px 20px;
      margin-bottom: 10px;
    }
    ul{
      text-transform: uppercase;
      font-weight: 200;
      overflow:hidden;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      height:0px;
      transition: all 0.3s linear;
      li{
        padding: 10px 0;
      }
    }
    ul.dropdown_active{
      height:450px;
      transition: all 0.3s linear;
    }
  } // Nav
  #services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .service{
      display: flex;
      flex-direction: column;
      align-items:center;
      width: 350px;
      height: 575px;
      border-radius: $border-radius;
      overflow: hidden;
      filter: drop-shadow(0px 3px 10px rgba(0,0,0,0.4));
      background-color:$color-service;
      .service-wrapper{
        height:40%;
        width:110%;
        overflow:hidden;
        border-radius:10px;
        img{
          width:100%;
        }
      }
      figcaption{
        background-color: inherit;
        margin-top:-5%;
        height:65%; // 65+40-5 = 100%
        border-radius: 20px;
        padding: 20px;
        width: 100%;
        overflow: hidden;

        .fig-text{
          height :50%;
          width: 90%;
          margin: 0 auto;
          h2{
            font-size: 20px;
            font-weight: 400;  // a regler
          }
          p{
            font-size: 13px;
            font-weight: 100;
            line-height: 1.4; // a regler
          }
        }
        .service-infos{
          margin: 0 auto;
          width: 60%;
          height:20%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;

          .duration{
            font-weight: 100;
            height:60%;
            display: flex;
            flex-flow:column;
            justify-content: space-around;

            .head{
              font-weight: bolder;
              font-size:20px;
            }
          }

          .line{
            height:80%;
            width:1px;
            background-color:lightgrey;
          }

          .price{
            font-weight: 100;
            height:60%;
            display: flex;
            flex-flow:column;
            justify-content: space-around;

            .head{
              font-weight: bolder;
              font-size:20px;
            }
          }
        }

        .reserver{
          height:30%;
          display: flex;
          justify-content: center;
          align-items: center;

          .btn-light{
            text-transform: uppercase;
            color: white;
            width:40%;
            margin: 0 auto;
            border-radius: 10px;
            background-color: $color-btn-pink;
          }
        }
      }
    }
  }
  footer{
    margin-top: 5vh;
    padding: 0 20px;
    background-color:$color-footer;
    .about{
      display: flex;
      flex-flow:column;
    }
  }
}

@media (min-width:1200px) {
  nav{
    h1{
      display: none;
    }
    ul{
      height:100%;
      flex-direction: row;
    }
    li{
      padding: 0 15px !important;
    }
  }

  #services-container{
    width: 80%;
    margin:0 auto;
  }
  footer{
    .about{
      flex-flow:row;
      justify-content: space-around;
    }
  }
}
